*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 50px solid rgb(20, 184, 58);
  border-top-color: coral;
  border-bottom-color: rgb(61, 59, 64);
  border-left-color: rgb(60, 18, 213);
   height: fit-content;
  /* width: fit-content; */
   
  
}
.card{
  display: flex;
  width: fit-content;

}

.card1>div:nth-child(even){
  background-color: black;
  color: white;
  
  
  
  
}

.card1>div:nth-child(odd){
  background-color:white;
  color: black;
  
  
}


.card2>div:nth-child(odd){
  background-color: black;
  color: white;
  

  
}

.card2>div:nth-child(even){
  background-color:white;

  
}

.card3>div:nth-child(odd){
  background-color: white;
  height: 110px;
  width: 180px;
  
  
}

.card3>div:nth-child(even){
  background-color:black;
  height: 110px;
  width: 180px;
  
  
}


.card4>div:nth-child(odd){
  background-color:black;
  height: 110px;
  width: 180px;
  
  
}

.card4>div:nth-child(even){
  background-color:white;
  height: 110px;
  width: 180px;
 
}




/* .card4>div:nth-child(even){
  background-color:white;
  height: 100px;
  width: 100px;
  
} */


.card5>div:nth-child(odd){
  background-color: white;
  color:goldenrod;
  
  
}

.card5>div:nth-child(even){
  background-color:black;
  color:goldenrod;
  
  
}


.card6>div:nth-child(even){
  background-color: white;
  color:goldenrod;
  
  
  
}


.card6>div:nth-child(odd){
  background-color:black;
  color: goldenrod;
  
  
}


.container  div{
  width: 100%;
  
}


.first-row{
  height: 110px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.first-row>div{
  font-size: 2rem;
}


/* .size{
  font-size: 4rem;
} */

.card1,.card2>.first-row>div{
  text-shadow: 5px 5px 5px red;
}

.card5,.card6>.first-row>div{
  text-shadow: 5px 5px 5px black;
}

.first-row>div:hover{
  font-size: 7rem;
}